<!DOCTYPE html>
<html lang="es">
<head>
    <title>FinanceIT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body class="is-preload">
    <!-- Header -->
    <header id="dashboard-header">
        <h1>FinanceIT</h1>
        <hr>
        <!-- Navigation Bar -->
        <nav id="nav-bar">
            <a href="/dashboard">Inicio</a>
            <a href="/add_data">Ingresar Datos</a>
            <a href="/add_goal">Agregar Meta</a>
            <a href="/graph">Ver Gráficos</a>
            <a href="/">Cerrar Sesión</a>
        </nav>
    </header>

    <!-- Contenido de la página -->
    <section id="adddata-form">
        <h2>Ingresar Datos</h2>
        <form action="/add_data" method="POST">
            <select id="tipo-transaccion" name="tipo-transaccion" required onchange="mostrarCheckboxes()">
                <option value="ingreso">Ingreso</option>
                <option value="gasto">Gasto</option>
            </select>
            <div id="checkboxes" style="display: none;">
                <input type="radio" id="ess1" name="tipo_gasto" value="Gasto Esencial">
                <label for="ess1">Gasto Esencial</label>
                <input type="radio" id="ess2" name="tipo_gasto" value="No Esencial">
                <label for="ess2">No Esencial</label>
            </div>
            <input type="number" name="Monto" id="monto" placeholder="$" />
            <input type="date" name="Fecha" id="fecha" />
            <input type="text" name="Descripción" id="descripcion" placeholder="Descripción"/>
            <button type="submit">Agregar</button>
        </form>
        <a href="/dashboard">Volver</a>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/renkorz/Finance-It" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; FinanceIT</li><li>En memoria de Marcelo Z, caído en batalla</li>
        </ul>
    </footer>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>
        function mostrarCheckboxes() {
            var select = document.getElementById("tipo-transaccion");
            var checkboxes = document.getElementById("checkboxes");
            if (select.value === "gasto") {
                checkboxes.style.display = "block"; // Muestra los radio buttons
            } else {
                checkboxes.style.display = "none"; // Oculta los radio buttons
            }
        }
    </script>
</body>
</html>