<!DOCTYPE HTML>
<html>
<head>
    <title>FinanceIT</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
</head>
<body>
    <!-- Header -->
	<header id="dashboard-header">
		<h1>FinanceIT</h1>
        <hr>
		<!-- Navigation Bar -->
		<nav id="nav-bar">
			<a href="/dashboard">Inicio</a>
			<a href="/add_data">Ingresar Datos</a>
            <a href="/add_goal">Agregar Meta</a>
			<a href="/view_graphs">Ver Gráficos</a>
			<a href="/signup">Cerrar Sesión</a>
		</nav>
	</header>

    <!-- Contenido de la página -->
	<section id="dashboard-content">
        <h2>Resumen Financiero</h2>
        <p>Ingreso Mensual: ${{ ingreso }}</p>
        <p>Gastos Esenciales: ${{ total_gastos_esenciales }}</p>
        <p>Gastos No Esenciales: ${{ total_gastos_no_esenciales }}</p>
        <p>Metas Financieras: {{ metas|length }}</p>
	</section>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/renkorz/Finance-It" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; FinanceIT</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>

		<!-- Scripts -->
        <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

</body>
</html>