<!-- login.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <title>FinanceIT | Ingreso</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles_login.css" /> 

</head>
<body>
    <header>
        <h1>FinanceIT</h1>
        <p>Inicio</p>
    </header>
    <section class="container">
        <article>
            <h2>Iniciar Sesion</h2>
            <hr>
            <p>Ingresa tus datos de usuario</p>
            <form action="/" method="POST">
                <div class="form-group"> 
                    <label for="username">Nombre de usuario:</label>
                    <br>
                    <input type="text" id="username" name="username" class="form-control">
                    <br>
                    <label for="password">Contraseña:</label>
                    <br>
                    <input type="password" id="password" name="password" class="form-control">
                    <br>
                    <a href="dashboard.html">
                        <button>Ingresar</button>
                    </a>
                    <br>
                    <a href="signup.html">¿No tienes cuenta? Registrate aquí</a>
                </div>
            </form>
        </article>
    </section>
    <footer>
        <p>&copy; 2024 FinanceIT</p>
    </footer>

</body>
</html>
